
{% extends 'blog/base.html' %}

{% block content %}

    
   <div class="content-section md-4">
    <h1 id="about" class="text-center mt-3">About This Blog Site</h1>
    <hr class="ml-4 mr-4">
        <p class="m-4">Hello and welcome to my blog! This blog is designed for anyone to see, use and test out my work. I am fairly new to Django/Python web development but I do use Python for Data Science whch is completely different altogether. My idea behind developing this blog is to let users see that not only can I create a clean front-end design but also incorporate functionality with a back-end design. It was not designed to be a flashy CSS site that demonstrates my artistic side. Please have a look around and reach out to me via the contact link if you’d like to work on a project together. Below I will explain more about this site and its functionality.</p>

        <p class="m-4">Why a blog like this? Well, first and foremost, I loved the design and the added functionality that it presented but mostly because Corey Schaffer was there to guide me through it! His mentoring is fantastic, I would highly recommend visiting him on his YouTube channel. Furthermore, I mentioned functionality…., this blog architecture contains the complete core components of a back-end design, a database, user authentication, authorization, pagination and complete CRUD (create, read, update, delete) functionality on the front end for the user. It was exactly what I was looking for to demonstrate my work.</p>
            
        <p class="m-4">Some features have been left out such as the search functionality and user comments. These are something I may add in the future but I’m not overly concerned with these features as of right now. However, the primary reason for the lack of this added functionality is because I am hosting this publicly for all to use and I don’t want to police a "message board' daily. I am hopeful this will attract those that may be interested in seeing my skills as a developer. Therefore, the goal is to have visitors to the site, sign up, log in, create a profile, add a profile pic and make a blog post.</p>

        <p class="m-4">With that being said, please do not make any derogatory posts about anything and please limit any posting to one or two posts. I don't want it to turn into anyones personal soap box. This is only for demonstration purposes. I do hope you like it and please visit my site for future updates. I will certainly make some blog posts on this site as well. I hope to see everyone make a post and say hello! In the meantime, please feel free to contact me using the email link in the sidebar. Look for new updates on new projects coming soon! 
        </p>
        <p class="m-4">Thanks for visiting the site! <br>
            -JK
        </p>

    </div>
{% endblock %}



